.App {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: midnightblue;
  min-height: 100vh;
}

.header, .addItemContainer {
  margin: 40px auto;
  color: #fff;
}

.button {
  background-color: rgb(250, 61, 61);
  border: none;
  border-radius: 5px;
  padding: 3px 10px;
  margin-left: 10px;
  transition: .2s all;
}

.button:hover, .button:focus {
  transform: translateY(-2px);
  box-shadow: 0 2px 10px black;
}

.button:active {
  transform: translateY(0px);
  box-shadow: 0 0px 2px black;
}

.itemList {
  border: 2px solid black;
  box-shadow: 2px 2px 10px black;
  border-radius: 10px;
  width: 400px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(250, 61, 61);
  flex-direction: column;
}



.itemContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.delete {
  cursor: pointer;
}
